*.csv
*.numbers

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# IDE files
.idea/
*.iml

# Logs
*.log

# Temporary files
*.tmp